.button {
  background: var(--card-bg);
  color: var(--text-main);
  border: 1px solid var(--border-color);
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleEnter {
  animation: slideIn 0.3s;
}

@keyframes slideIn {
  from { 
    transform: translateY(15px); 
    opacity: 0; 
  }
  to { 
    transform: translateY(0); 
    opacity: 1; 
  }
}
